# API Keys
HF_TOKEN=""
TAVILY_API_KEY=""
GOOGLE_FACTCHECK_API_KEY=""

# LLM Configuration (Providers- cerebras/sambanova/groq/fireworks)
LLM_PROVIDER="groq" #default

# Groq Settings
GROQ_API_KEY=""
LLM_MODEL=""

# SambaNova Settings
SAMBANOVA_API_KEY=""
SAMBANOVA_MODEL=""

# Cerebras Settings
CEREBRAS_API_KEY=""
CEREBRAS_MODEL=""

# Fireworks Settings
FIREWORKS_API_KEY=""
FIREWORKS_MODEL=""

# Pinecone
PINECONE_API_KEY=""
PINECONE_INDEX_NAME=""
PINECONE_CLOUD=""
PINECONE_REGION=""

# Embeddings
EMBEDDING_MODEL="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
EMBEDDING_DEVICE="cpu"
EMBEDDING_DIMENSION="384"
USE_GPU="false"

# LangSmith
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=""
LANGCHAIN_ENDPOINT="https://eu.api.smith.langchain.com"

# Redis
REDIS_URL=""
CACHE_TTL_SECONDS=""

# CORS/Security
ALLOWED_ORIGINS=""
SESSION_SECRET=""
SECURE_COOKIES="true"
