# LLM Provider
LLM_PROVIDER=""              # groq/sambanova
LLM_MODEL="llama-3.1-8b-instant"
GROQ_API_KEY=""
SAMBANOVA_API_KEY=""
SAMBANOVA_MODEL="DeepSeek-V3.1"
CEREBRAS_API_KEY=""

# Search and Fact check 
TAVILY_API_KEY=""
GOOGLE_FACTCHECK_API_KEY=""

# Embeddings 
HF_TOKEN=""
EMBEDDING_MODEL="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
EMBEDDING_DEVICE="cpu"
EMBEDDING_DIMENSION="384"

# Pinecone
PINECONE_API_KEY=""
PINECONE_INDEX_NAME=""
PINECONE_CLOUD="aws"
PINECONE_REGION="us-east-1"

# Redis
REDIS_URL=""                    
# CORS 
ALLOWED_ORIGINS="*"

# Evaluation 
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=""
LANGCHAIN_ENDPOINT="https://eu.api.smith.langchain.com"
